body{
    background-color: silver;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding: 40px;
}

h2 {
    display: flex;
    align-items: center;
    margin-right: 450px;
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 15px;
    text-align: center;
}

a{
    text-decoration: none;
    cursor: default;
    color: black;
    padding: 15px;
    margin-left: 70px;
}

ul a:hover{
    border-bottom: 2px solid brown;
    color:brown;
}

footer{
    text-align: center;
    padding: 97px;
}

main{
    padding: 15px;
    text-align: left;
}

fieldset{
    text-align: center;
    align-items: center;
}

input[type=text]{
    margin-bottom: 10px;
    padding: 5px;
    width: calc(100% - 80px);
}

fieldset{
    display: block;
    width: 300px;
    margin: auto;
}

button{
    margin-bottom: 10px;
    padding: 5px;
}

select{
    margin-bottom: 10px;
    padding: 5px;
}